Desafio_4/Curso I2A2 - Agentes AI - Desafio 4.json
{
  "name": "Curso I2A2 - Agentes AI - Desafio 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a974ffa1-088e-42fc-b628-98e9318eb783",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        -944
      ],
      "id": "936a4c81-663a-499d-93a0-647f21962f20",
      "name": "Webhook",
      "webhookId": "a974ffa1-088e-42fc-b628-98e9318eb783"
    },
    {
      "parameters": {
        "binaryPropertyName": "file0"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -592,
        -944
      ],
      "id": "4f4eb748-1cc3-47c9-9a58-b48b20bd4e3d",
      "name": "Compression1"
    },
    {
      "parameters": {
        "tableId": "Admissao",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "cargo",
              "fieldValue": "={{ $json.Cargo }}"
            },
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ DateTime.fromMillis((($json['Admissão'] - 25568) * 86400 * 1000)).toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "={{ $json.__EMPTY !== 'demitido' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -1616
      ],
      "id": "32d30c65-bf49-4361-a019-85e8e44f881b",
      "name": "Insert Admissao",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Afastamentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "={{ $json['DESC. SITUACAO'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -1424
      ],
      "id": "11238f05-f42f-4cb8-871b-0984430b08e1",
      "name": "Insert Afastamentos",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Aprendiz",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "cargo",
              "fieldValue": "={{ $json['TITULO DO CARGO'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -1248
      ],
      "id": "49e5018b-75de-4ee8-981a-2d4facdc3603",
      "name": "Insert Aprendiz",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Ativos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $json.EMPRESA }}"
            },
            {
              "fieldId": "cargo",
              "fieldValue": "={{ $json['TITULO DO CARGO'] }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "={{ $json['DESC. SITUACAO'] }}"
            },
            {
              "fieldId": "sindicato",
              "fieldValue": "={{ $json.Sindicato.startsWith(\"SINDPD SP\") ? 'SP': $json.Sindicato.startsWith(\"SINDPPD RS\") ? 'RS':\n$json.Sindicato.startsWith(\"SINDPD RJ\") ? 'RJ' : 'PR'}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -1056
      ],
      "id": "44c2c2ea-0dfa-4062-9514-e0173e679ad3",
      "name": "Insert Ativos",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Desligados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json['MATRICULA '] }}"
            },
            {
              "fieldId": "data_demissao",
              "fieldValue": "={{ DateTime.fromMillis((($json['DATA DEMISSÃO'] - 25568) * 86400 * 1000)).toFormat('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "comunicado",
              "fieldValue": "={{ $json['COMUNICADO DE DESLIGAMENTO'] == 'OK' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -864
      ],
      "id": "7ed16ead-7528-4cea-b8a7-204f53d6eca0",
      "name": "Insert Desligados",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 9,
        "query": "select input1.data_admissao, input4.matricula, input4.empresa, input4.cargo, input4.situacao,  input9.sindicato, input9.sindicato_uf, input9.valor_vr_dia, input9.dias_uteis \nfrom input4 \nleft join input1 on input4.matricula = input1.matricula\ninner join input9 on input4.sindicato = input9.sindicato_uf\nwhere input4.situacao = 'Trabalhando'\nand input4.cargo not ilike 'DIRETOR%'\nand input4.matricula not in(select matricula from input2)\nand input4.matricula not in(select matricula from input3)\nand input4.matricula not in(select matricula from input6)\nand input4.matricula not in(select matricula from input7)\nand input4.matricula not in(select matricula from input5 where input5.comunicado = true)",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        -976
      ],
      "id": "2db26117-3c50-49f0-9be7-fe5c7926879a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_7",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -688
      ],
      "id": "9ef4514d-e190-461d-a06c-13e2a67e1c35",
      "name": "Planilha Estagio"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_6",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -864
      ],
      "id": "5b2536be-b81d-44cb-b79d-c111a9cd9b80",
      "name": "Planilha Desligados"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_3",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -1056
      ],
      "id": "e293994b-8428-4c0e-8de6-aad252fbdc6e",
      "name": "Planilha Ativos"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_2",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -1248
      ],
      "id": "00d5d52d-a403-4580-b5f7-35b9a8d568a1",
      "name": "Planilha Aprendiz"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -1424
      ],
      "id": "72eef3d4-04a6-4103-9908-c47ca3dda49a",
      "name": "Planilha Afastamentos"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -1616
      ],
      "id": "082f8461-e84d-4672-9feb-130814e55657",
      "name": "Planilha Admissao",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "tableId": "Estagiario",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "cargo",
              "fieldValue": "={{ $json['TITULO DO CARGO'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -688
      ],
      "id": "d1914fa4-dfc9-402f-9715-98dce1552d30",
      "name": "Insert Estagio",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_8",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        -496
      ],
      "id": "4f5f735c-9b7c-4ea2-aadd-a10cdb8302c1",
      "name": "Planilha Exterior"
    },
    {
      "parameters": {
        "tableId": "Exterior",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.Cadastro }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.Valor }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -496
      ],
      "id": "4263e22f-8327-4637-b354-aaf6cbd44c65",
      "name": "Insert Exterior",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_9",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        -320
      ],
      "id": "ebb6c3ee-39eb-48ed-8544-cd3ba437bc3f",
      "name": "Planilha Ferias"
    },
    {
      "parameters": {
        "tableId": "Ferias",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.MATRICULA }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "={{ $json['DESC. SITUACAO'] }}"
            },
            {
              "fieldId": "dias",
              "fieldValue": "={{ $json['DIAS DE FÉRIAS'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -320
      ],
      "id": "4673907e-db17-4b31-a1fc-ef3233c901ff",
      "name": "Insert Ferias",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_4",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        -128
      ],
      "id": "a2cccf37-d059-4500-9c12-8d38a7b27b96",
      "name": "Planilha Base dias uteis",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_5",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        64
      ],
      "id": "b349698e-38f2-4a23-aeaf-33ec04838f56",
      "name": "Planilha Base valor sindicato"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "SINDICATO_UF",
              "field2": "ESTADO                                                     "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        0
      ],
      "id": "4ee0aa8b-02cc-432b-a33b-654968aba8ae",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\nfor (const item of $input.all()) {\n  if (item.json.row.length > 0 && (!item.json.row[0].startsWith(\"BASE\") && !item.json.row[0].startsWith(\"SINDICA\"))) {\n    const sindi = item.json.row[0].startsWith(\"SINDPPD RS\") ? \"Rio Grande do Sul\" : item.json.row[0].startsWith(\"SINDPD SP\") ? \"São Paulo\" : item.json.row[0].startsWith(\"SINDPD RJ\") ? \"Rio de Janeiro\" : \"Paraná\";\n    result.push({SINDICATO: item.json.row[0], SINDICATO_UF: sindi, DIAS_UTEIS: item.json.row[1]});\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -128
      ],
      "id": "88f0e7a8-f733-436f-8469-01052cc729a3",
      "name": "Code1"
    },
    {
      "parameters": {
        "tableId": "Sindicato",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sindicato",
              "fieldValue": "={{ $json.SINDICATO }}"
            },
            {
              "fieldId": "dias_uteis",
              "fieldValue": "={{ $json.DIAS_UTEIS }}"
            },
            {
              "fieldId": "valor_vr_dia",
              "fieldValue": "={{ $json.VALOR }}"
            },
            {
              "fieldId": "sindicato_uf",
              "fieldValue": "={{ $json.SINDICATO_UF == \"São Paulo\" ? \"SP\" : $json.SINDICATO_UF == \"Rio Grande do Sul\" ? \"RS\" : $json.SINDICATO_UF == \"Rio de Janeiro\" ? \"RJ\" : \"PR\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "30791f54-49bd-4d87-b6a9-89da962c749f",
      "name": "Insert Dados Sindicato",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Olá, você é um analista de RH especializado em fechamento de folha e cálculo de vale refeição e vale alimentação.\nPreciso que você ajude na seguinte função:\n\n# Descrição do problema\n\nHoje, o cálculo da quantidade de dias para compra de benefícios é feito\nmanualmente a partir de planilhas. Esse processo envolve:\n• Conferência de datas de início e fim do contrato no mês.\n• Exclusão de colaboradores em férias (parcial ou integral por regra de\nsindicato).\n• Ajustes para datas quebradas.\n• Cálculo do número exato de dias a serem comprados para cada pessoa.\n• Geração de um layout de compra a ser enviado para o fornecedor.\n• Considerar as regras vigentes decorrentes dos acordos coletivos de cada\num dos sindicatos.\n\n# Objetivo\n\nAutomatizar o processo mensal de compra de VR (Vale Refeição), garantindo que\ncada colaborador receba o valor correto, considerando ausências, férias e datas\nde admissão ou desligamento e calendário de feriados.\n\n# Regras\n\n* Validar e corrigir: datas inconsistentes ou \"quebradas\", campos faltantes,\nférias mal preenchidas, feriados estaduais e municipais corretamente\naplicados\n* Cálculo automatizado do benefício: Com base nas informações da tabela Dados, calcular automaticamente:\n** Quantidade de dias úteis por colaborador (considerando os dias\núteis de cada sindicato, férias, afastamentos e data de\ndesligamento)\n** Valor total de Vale Refeição (VR) a ser concedido para cada\ncolaborador, de acordo com o valor de cada sindicato que o\nprofissional está vinculado, gerando o cálculo, correto e vigente.\n* Entrega final: Geração de uma planilha final para envio à operadora,\ncontendo o valor de VR a ser concedido e valor a ser pago pela empresa e\nprofissional, de acordo com Modelo da planilha aba “VR Mensal 05.2025”.\nConsiderar custo para empresa 80% do valor pago e 20% a ser descontado\ndo profissional.\n\n# Correções\n\n* Para colaboradores com data_admissao = null utilizar uma data de admissao padrão que deve ser a data de hoje menos 6 meses e adicionar a observação 'Data admissão ausente - verificar' na coluna 'Observacao geral'.\n* Utilizar valor_vr_dia e dias_uteis de cada colaborador, mas dias_uteis não está considerando feriados. Verificar se dentro do período tem algum feriado nacional que cai durante a semana e descontar a quantidade de feriados do dias_uteis. O perído de contabilização é do dia 15 do mês anterior ao mês competencia e até o dia 14 do mês de competencia.\n* Considerar somente feriados nacionais e aplique automaticamente.\n* Desconte a quantidade de feriados de todos os colaboradores.\n* Para os colaboradores que a data de admissão está dentro do período prorrete os dias_uteis e aplique o desconto dos dias.\n* Os colaboradores que estão na tabela Dados já foram filtrados e todos devem ser considerados para gerar a planilha.\n* Competencia a ser utilizada é informada no nome da planilha solicitada contido no command input: '{{ $json.body.command }}', com formato 'MM.YYYY'.\n\n# Resultado\nGere uma planilha XLSX e retorne o arquivo para download com as seguintes colunas:\nMatricula\nData admissao\nSindicato do colaborador\nCompetência\nDias úteis\nValor diário VR\nTotal\nCusto empresa\nDesconto colaborador\nObservacao geral\n\nConfirmo a geração da planilha.\nNão me faça mais perguntas e gere os dados AGORA e retorne o arquivo. Não usar caracteres especiais que possam quebrar o JSON. Preciso que retorne imediatamente o arquivo, que pode ser em formato JSON.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        7280,
        656
      ],
      "id": "d52e901f-5634-4b29-93f7-d129dea98307",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "Dados",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_admissao",
              "fieldValue": "={{ $json.data_admissao ?? null }}"
            },
            {
              "fieldId": "matricula",
              "fieldValue": "={{ $json.matricula }}"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $json.empresa }}"
            },
            {
              "fieldId": "cargo",
              "fieldValue": "={{ $json.cargo }}"
            },
            {
              "fieldId": "situacao",
              "fieldValue": "={{ $json.situacao }}"
            },
            {
              "fieldId": "sindicato",
              "fieldValue": "={{ $json.sindicato }}"
            },
            {
              "fieldId": "sindicato_uf",
              "fieldValue": "={{ $json.sindicato_uf }}"
            },
            {
              "fieldId": "valor_vr_dia",
              "fieldValue": "={{ $json.valor_vr_dia }}"
            },
            {
              "fieldId": "dias_uteis",
              "fieldValue": "={{ $json.dias_uteis }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -864
      ],
      "id": "2f3a7c68-e0af-4b60-8636-34f6b310933f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7d2d296-b7ad-4088-bad3-6e5fb0bc50c4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        6960,
        656
      ],
      "id": "8a072e0b-e8b6-411e-b1e6-02197ff9639b",
      "name": "Webhook1",
      "webhookId": "c7d2d296-b7ad-4088-bad3-6e5fb0bc50c4",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7520,
        912
      ],
      "id": "0fac5d08-0fe7-46f8-b8ca-f0f7c47692d6",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7744,
        656
      ],
      "id": "032d1ba2-1c64-4cf4-a33c-8a1122e2fcec",
      "name": "Convert to File",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Agente AI - Desativado",
        "height": 752,
        "width": 1440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6688,
        464
      ],
      "typeVersion": 1,
      "id": "a8d9ffee-4f73-4141-87ca-b8f6ba2d79f7",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Input e sanitização",
        "height": 2048,
        "width": 2976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -1696
      ],
      "typeVersion": 1,
      "id": "eb300ebf-e70b-4301-adb1-17fc73b629e2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7184,
        928
      ],
      "id": "cf1194ff-4863-42dc-9b45-104b17032f01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7Uy9XwZxpSnqYGPQ",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.command }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        7360,
        912
      ],
      "id": "c8d37606-b596-4855-b5c8-36131f3ee1eb",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Olá, preciso da quantidade de feriados nacionais dentro do período da competência informada.\n\n* O perído de contabilização é do dia 15 do mês anterior ao mês competencia e até o dia 14 do mês de competencia.\n* Considerar somente feriados nacionais.\n* Competencia a ser utilizada é informada no nome da planilha solicitada contido no command input: '{{ $json.command }}', com formato 'MM.YYYY'.\n\nRetornar a quantidade de feriados e a competencia utilizada em formato JSON. Não usar caracteres especiais que possam quebrar o JSON.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2368,
        -912
      ],
      "id": "5df4adb2-c6ce-4657-8838-536dbad5f508",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2608,
        -656
      ],
      "id": "a06ebf41-c652-45c7-a84b-bafd4f3adeea",
      "name": "Get many rows in Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente AI",
        "height": 800,
        "width": 1504,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        -1120
      ],
      "typeVersion": 1,
      "id": "f69d7960-f0a3-4866-812f-c56a1a2f27ee",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2304,
        -640
      ],
      "id": "b4f5623e-1a39-437f-b0b5-0e5aa4160c06",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7Uy9XwZxpSnqYGPQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.Command }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2448,
        -656
      ],
      "id": "80747190-43af-4dcd-af98-fd6ab8365763",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "const outputString = $input.first().json.output;\nconst jsonStartIndex = outputString.indexOf('{');\nconst jsonEndIndex = outputString.lastIndexOf('}');\nconst jsonSubstring = outputString.substring(jsonStartIndex, jsonEndIndex + 1);\nconst result = JSON.parse(jsonSubstring);\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -912
      ],
      "id": "648ca2f7-fb65-4a6b-93db-79f8a52a22da",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Dados",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2928,
        -912
      ],
      "id": "87e2a5f1-2b59-4ed5-adea-4bcdfe126517",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "dias_uteis",
              "fieldValue": "={{ $json.dias_uteis - $('Code').item.json.quantidade_feriados_nacionais }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3136,
        -912
      ],
      "id": "6d56d7ab-ac64-4cb1-8667-c967fee13fdc",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataAtual = new Date(); // Cria um novo objeto Date com a data e hora atuais [6]\nconst seisMesesAtras = new Date(dataAtual); // Cria uma cópia da data atual para evitar modificar o original\nseisMesesAtras.setMonth(seisMesesAtras.getMonth() - 6); // Subtrai 6 meses\n\nconst dadosParaPlanilha = $input.all().map(item => {\n  const dados = item.json;\n  \n  return {\n    json: {\n      'Matricula': dados.matricula || '',\n      'Admissao': dados.data_admissao || seisMesesAtras.toISOString().substring(0, 10),\n      'Sindicato': dados.sindicato || '',\n      'Competencia': $('Code').first().json.competencia || '01.1990',\n      'Dias': dados.dias_uteis || '22',\n      'Valor Diário VR': dados.valor_vr_dia || 0.0,\n      'Total': dados.dias_uteis * dados.valor_vr_dia || 0.0,\n      'Custo empresa': (dados.dias_uteis * dados.valor_vr_dia) * 0.8 || 0.0,\n      'Desconto profissional': (dados.dias_uteis * dados.valor_vr_dia) * 0.2 || 0.0,\n      'Observacao geral': `FERIADOS: ${$('Code').first().json.quantidade_feriados_nacionais.toString()} ${dados.data_admissao ? '' : ' ||----|| VERIFICAR - Data admissão ausente, preenchida com data atual - 6 meses conforme definicação do RH'}`\n    }\n  };\n});\n\nconst totalRegistros = dadosParaPlanilha.length;\nconst dataProcessamento = new Date().toLocaleString('pt-BR');\n\nconsole.log(`Processados ${totalRegistros} registros em ${dataProcessamento}`);\n\nreturn dadosParaPlanilha;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -912
      ],
      "id": "20db2e08-cbf9-45d5-ae00-9e3ee642bf03",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "={{ $('Webhook').item.json.body.Command.split(\"'\")[1] }}"
        }
      },
      "id": "ee2fd1a8-79b1-443a-a92e-59c09fe35db8",
      "name": "Create XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        2960,
        -608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9731f1d5-6e14-4c4f-af66-8fc46e48c412",
              "name": "command",
              "value": "={{ $('Webhook').item.json.body.Command }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        -864
      ],
      "id": "ef6b00a0-e781-47dd-ad52-209938b65174",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1648,
        -864
      ],
      "id": "eeb8ce8d-c7dd-4535-8d9f-d075d11bb37f",
      "name": "Limit"
    },
    {
      "parameters": {
        "name": "={{ $('Webhook').item.json.body.Command.split(\"'\")[1] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VH2OrL0jp_OR67vj9ooy-MXk2L0q1W9F",
          "mode": "list",
          "cachedResultName": "Curso I2A2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VH2OrL0jp_OR67vj9ooy-MXk2L0q1W9F"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3168,
        -608
      ],
      "id": "fc31c165-e47d-4aab-81b4-18515d7550b0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "TYRe3LHdK36X23AI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Desligados",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -1376
      ],
      "id": "41ec8471-947c-4669-b025-7994f584d161",
      "name": "Delete Desligados",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Afastamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -1216
      ],
      "id": "c0a39bdd-3bce-4e89-8c02-879e77cac98c",
      "name": "Delete Afastamentos",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Estagiario",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -1056
      ],
      "id": "fd7f886b-290e-4007-88b8-9ffa5e184038",
      "name": "Delete Estagiario",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Ferias",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -896
      ],
      "id": "8fb3d34c-e6da-4cf7-b03e-bf2443a96ee9",
      "name": "Delete Ferias",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Sindicato",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -736
      ],
      "id": "665612eb-b95b-4b2b-a63a-07a9384dd638",
      "name": "Delete Sindicato",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Exterior",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -576
      ],
      "id": "8da9df00-e314-4141-a1da-b70c288abd96",
      "name": "Delete Exterior",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Aprendiz",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -416
      ],
      "id": "cf5ddb05-e370-4469-bbcf-580051a157ca",
      "name": "Delete Aprendiz",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Admissao",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        -240
      ],
      "id": "d6dc17e0-3fb8-4cb1-b2da-d73dff80b79d",
      "name": "Delete Admissao",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Dados",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        80
      ],
      "id": "47699579-d2ba-46ee-b9ad-10b2b3191a3e",
      "name": "Delete Dados",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Ativos",
        "filters": {
          "conditions": [
            {
              "keyName": "matricula",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4016,
        -80
      ],
      "id": "792567a8-3f6e-4aec-89f6-ddc65c480faa",
      "name": "Delete Ativos",
      "credentials": {
        "supabaseApi": {
          "id": "EdsgIxto4MB9Y2FM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Limpar Daabase",
        "height": 1872,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3856,
        -1520
      ],
      "typeVersion": 1,
      "id": "044c866a-fcf6-482b-8641-c75b95365b23",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4656,
        -832
      ],
      "id": "690dd45f-e09f-4ea5-8ab3-82345afc41a9",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4864,
        -704
      ],
      "id": "0b980c4e-dd47-4210-8e3b-4fec5a5e8858",
      "name": "Limit1"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "691396300846923797",
          "mode": "list",
          "cachedResultName": "tmps",
          "cachedResultUrl": "https://discord.com/channels/691396300846923797"
        },
        "channelId": {
          "__rl": true,
          "value": "691396301509754982",
          "mode": "list",
          "cachedResultName": "geral",
          "cachedResultUrl": "https://discord.com/channels/691396300846923797/691396301509754982"
        },
        "content": "Arquivo gerado com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5072,
        -704
      ],
      "id": "2f52c101-907c-4d24-9ade-460aebc6c096",
      "name": "Send a message",
      "webhookId": "ce687b0b-f60a-4619-84e6-e780d952e5c7",
      "credentials": {
        "discordBotApi": {
          "id": "SlkXVpi165fbJd1a",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compression1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression1": {
      "main": [
        [
          {
            "node": "Planilha Admissao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Afastamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Aprendiz",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Ativos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Desligados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Estagio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Exterior",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Ferias",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Base dias uteis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Planilha Base valor sindicato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Afastamentos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert Admissao": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Aprendiz": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Insert Ativos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Insert Desligados": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Desligados": {
      "main": [
        [
          {
            "node": "Insert Desligados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Ativos": {
      "main": [
        [
          {
            "node": "Insert Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Aprendiz": {
      "main": [
        [
          {
            "node": "Insert Aprendiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Afastamentos": {
      "main": [
        [
          {
            "node": "Insert Afastamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Admissao": {
      "main": [
        [
          {
            "node": "Insert Admissao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Estagio": {
      "main": [
        [
          {
            "node": "Insert Estagio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Exterior": {
      "main": [
        [
          {
            "node": "Insert Exterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Ferias": {
      "main": [
        [
          {
            "node": "Insert Ferias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Base dias uteis": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilha Base valor sindicato": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Insert Dados Sindicato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Estagio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Insert Exterior": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Insert Ferias": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Insert Dados Sindicato": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Create XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create XLSX": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Delete Desligados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Afastamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Estagiario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Ferias",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Sindicato",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Exterior",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Aprendiz",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Admissao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Desligados": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Afastamentos": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Delete Estagiario": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Delete Ferias": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Delete Sindicato": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Delete Exterior": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Delete Aprendiz": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Delete Admissao": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Delete Ativos": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Delete Dados": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13b9224d-6c30-4460-a244-e1e1b2da51cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca824af82caf965dc6a9fe77732aa0f32f8a767586044bd4bc9e23fe28a05a98"
  },
  "id": "Q2pC3GnIouf2u4OL",
  "tags": []
}